<h3>{{name}}</h3>
<img class = 'restaurant-img' src="{{imageUrl}}" alt="Restaurant image">
<p>{{description}}</p>

{{!-- <p>posted by: {{owner.username}}</p> --}}

{{#if reviews}}

    <ul>

    {{#each reviews}}

    {{!-- <li>Review</li> --}}

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}