<div class='each-restaurant'>
{{> eachRestaurant}}

<div class="edit-delete">

    <a href="/restaurants/edit/{{_id}}"><button>Edit</button></a>

    <a href="/restaurants/delete/{{_id}}"><button>Delete</button></a>

</div>


<form id="rating-form">

  <h3>Rate this restaurant:</h3>

    <div class="rating">

        <input type="radio" name="rating" id="rating-1" value="1">
        <label for="rating-1">&#9734;</label>

        <input type="radio" name="rating" id="rating-2" value="2">
        <label for="rating-2">&#9734;&#9734;</label>

        <input type="radio" name="rating" id="rating-3" value="3">
        <label for="rating-3">&#9734;&#9734;&#9734;</label>

        <input type="radio" name="rating" id="rating-4" value="4">
        <label for="rating-4">&#9734;&#9734;&#9734;&#9734;</label>

        <input type="radio" name="rating" id="rating-5" value="5">
        <label for="rating-5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>

    </div>

  <input type="submit" value="Submit" class="submit-btn">

</form>

<form action="/restaurants/add-review/{{_id}}" method="post">
    <label for="">New Comment</label>
    <input type="text" name="comment">

    <button type="submit">Add Comment</button>

</form>

<h4>Reviews</h4>

{{#if reviews}}

    <ul>

    {{#each reviews}}

        <li>
            <p>{{comment}}</p>
            <h6>-{{user.username}}</h6>
        </li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}

</div>