<div class='each-restaurant'>
{{> eachRestaurant}}

<div class="edit-delete">

    <a href="/restaurants/edit/{{_id}}"><button>Edit</button></a>

    <a href="/restaurants/delete/{{_id}}"><button>Delete</button></a>

</div>


<form id="rating-form">

  <h3>Rate this restaurant:</h3>

    <div class="rating">

        <input type="radio" name="rating" id="rating-1" value="1">
        <label for="rating-1">&#9734;</label>

        <input type="radio" name="rating" id="rating-2" value="2">
        <label for="rating-2">&#9734;</label>

        <input type="radio" name="rating" id="rating-3" value="3">
        <label for="rating-3">&#9734;</label>

        <input type="radio" name="rating" id="rating-4" value="4">
        <label for="rating-4">&#9734;</label>

        <input type="radio" name="rating" id="rating-5" value="5">
        <label for="rating-5">&#9734;</label>

    </div>

  <input type="submit" value="Submit" class="submit-btn">

</form>

<div id="rating-display"></div>

{{!-- javascript code to display the avg rating of each restaurant --}}

<script>
   const form = document.getElementById('rating-form');

form.addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the form from actually submitting
  
  // Check if the user is authenticated
  if (!isLoggedIn()) {
    alert('You must be logged in to vote.');
    return;
  }

  // Get the selected rating
  const rating = form.querySelector('input[name="rating"]:checked').value;

  // Update the rating display
  const ratings = JSON.parse(localStorage.getItem('ratings') || '[]');
  ratings.push(parseInt(rating));
  localStorage.setItem('ratings', JSON.stringify(ratings));
  const averageRating = ratings.reduce((sum, rating) => sum + rating, 0) / ratings.length;
  const ratingDisplay = document.getElementById('rating-display');
  ratingDisplay.innerText = `Average rating: ${averageRating.toFixed(1)}`;
});


const ratingInputs = document.querySelectorAll('input[name="rating"]');
const ratingLabels = document.querySelectorAll('.rating label');

ratingInputs.forEach((input) => {
  input.addEventListener('click', () => {
    const selectedRating = input.value;

    ratingLabels.forEach((label, index) => {
  if (index >= selectedRating - 1) {
    label.classList.add('selected');
  } else {
    label.classList.remove('selected');
  }
});

  });
});</script>

<form action="/restaurants/add-review/{{_id}}" method="post">
    <label for="">New Comment</label>
    <input type="text" name="comment">

    <button type="submit">Add Comment</button>

</form>

<h4>Reviews</h4>

{{#if reviews}}

    <ul>

    {{#each reviews}}

        <li>
            <p>{{comment}}</p>
            <h6>-{{user.username}}</h6>
        </li>

    {{/each}}

    </ul>

{{else}}

    <p>No Reviews yet</p>

{{/if}}

</div>